* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.root{
    width: 650px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#message{
    width: 100%;
    text-align: center;
}

.boxLogin{
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px #d68df3
}

.logo {
    width: 350px;
    margin: 0px auto 50px auto;
    display: block;
}

.headerLogin{
    width: 100%;
    height: 50px;
    background-color: #d68df3;
}

.bodyLogin{
    width: 540px;
    margin: 30px auto 30px auto;
}

.labelLogin{
    margin-bottom: 8px;
}

.titleLogin{
    width: fit-content;
    padding: 0 10px 20px 10px;
    margin: 0 auto 12px auto;
    font-size: x-large;
    border-bottom: 5px solid #35dde9;
}

form{
    width: 100%;
    height: fit-content;
}

.inputContent{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.inputContent:focus{
    border: 2px solid #4dc742;
    box-shadow: 0px 0px 5px #4dc742;
}

.btn{
    min-width: 100px;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
}

.btnLogin{
    margin: 0 auto 0 auto;
    display: block;
    border: none;
    background-color: #c75bf1;
    color: white;
    cursor: pointer;
}

.btnLogin:hover{
    background-color: #c246f3;
    box-shadow: 0px 0px 3px #c246f3;
}

.btnLogin:disabled{
    background-color: #daacec;
}

.btnAction{
    margin: 0 auto 0 auto;
    display: block;
    border: none;
    background-color: #2da3f1;
    color: white;
    cursor: pointer;
    min-width: 50%;
    margin-bottom: 8px;
}

.btnAction:hover{
    background-color: #169af1;
    box-shadow: 0px 0px 3px #169af1;
}

.btnAction:disabled{
    background-color: #5bb4f0;
}

.btnLogout{
    margin: 0 auto 0 auto;
    display: block;
    border: none;
    background-color: #f3a025;
    color: white;
    cursor: pointer;
    min-width: 50%;
}

.btnLogout:hover{
    background-color: #f19509;
    box-shadow: 0px 0px 3px #f19509;
}

.btnLogout:disabled{
    background-color: #e6b771;
}

.messageError{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px 8px 12px;
    margin-bottom: 12px;
    background-color: #ecb7b7;
    color: #f02a2a;
}

.messageSuccess{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px 8px 12px;
    margin-bottom: 12px;
    background-color: #8af1b9;
    color: #0ece2e;
}

.messageWaiting{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px 8px 12px;
    margin-bottom: 12px;
    background-color: #f0ee99;
    color: #e4ce08;
}

.footerLogin{
    width: 100%;
    height: 5px;
    background-color: #d68df3;
}

.hidden{
    display: none;
}

.boxAction{
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px #d68df3
}

.itemAction{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}

